--index-url https://urm.nvidia.com/artifactory/api/pypi/nv-shared-pypi/simple
--extra-index-url https://download.pytorch.org/whl/cu124

# Torch is installed from pytorch docker image, so don't specify it here.
# Also, Pin numpy to a version that is in pytorch image
numpy==1.24.4 ; python_version >= "3.10" and python_version < "3.11"

tokenizers==0.20.3 ; python_version >= "3.10" and python_version < "3.11"
#transformer-engine-cu12==1.11.0 ; python_version >= "3.10" and python_version < "3.11"
#transformer-engine-torch==1.11.0 ; python_version >= "3.10" and python_version < "3.11"
#transformer-engine[pytorch]==1.11.0 ; python_version >= "3.10" and python_version < "3.11"
#transformers==4.46.3 ; python_version >= "3.10" and python_version < "3.11"
#flash-attn==2.6.3 ; python_version >= "3.10" and python_version < "3.11"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.11"
einops==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
triton==3.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.11" and python_version >= "3.10"

ruff
pre-commit
